

</head>

       {%include 'navbaritems.html'%}

    <!-- end of menu -->
<body>

<div id="templatemo_content_wrapper">
<div id="templatemo_content_panel">

    <div class="content_panel_3col_section margin_right_60">

        <div class="header_01">Welcome</div>
        <div class="image_box_01"><img src="static/images/templatemo_image_01.jpg" alt="Web Template" /></div>
        <div class="p_section">Data sience becomes in recent years one of the world most promising and crucial field.</div>
        <p>IT is  a tool for sophisticated Humans a deepest understanding of the univers and makes the world a better place. Nowadays AI and Data Science is used in different arias sush as medicine, industry, geologie, social siences and so on...   </a>The development of Data Science and AI is largly  related on the avalablity, the diversity of data and modern computers that can manipulate huge matrix faster than ever.</p> <a href="#"></a>
    
    </div>
    
    <div class="content_panel_3col_section margin_right_60">
        <div class="header_01">About</div>
        <p>The is website is just for educational and experimental purpuses where we are trying to deploy and share machine learning models so they can be used for real world applications. And I cover various domain of AI like :.</p>
        <ul class="services">
            <li>Natural Language Processing (NLP)</li>
            <li>Obeject detection,images and videos Classifications </li>
            <li>Robotics and self-driving cars</li>
            <li>medical image processing and classifying</li>
            <li>Goegraphical data vizualization</li>
            <li>Financial data modeling</li>
        </ul>
    </div>
    
    <div class="content_panel_3col_section">
        <div class="header_01">Latest Posts</div>
        
        <div class="news_section">
            <div class="news_image">
            	<img src="static/images/templatemo_image_02.jpg" alt="Free Website" />
            </div>
            <div class="news_content">
                <div class="news_title">weather</div>
                <p>Easy and new way to visualize weather  .</p>
                <a href="/Globe/">Read more...</a>
       		</div>
    	</div>
    
   		<div class="margin_bottom_30"></div>
    
        <div class="news_section">
            <div class="news_image">
            	<img src="static/images/templatemo_image_03.jpg" alt="CSS Template" />
            </div>
            <div class="news_content">
                <div class="news_title">Text</div>
                <p>Give me a text and i if is positive or negative.</p>
                <a href="/display/">Read more...</a>
            </div>
        </div>
    
    	<div class="margin_bottom_30"></div>
    
        <div class="news_section">
            <div class="news_image">
            	<img src="static/images/templatemo_image_04.jpg" alt="Free CSS" />
            </div>
            <div class="news_content">
                <div class="news_title">Contact me !</div>
                <p>comments questions feel free to find me.</p>
                <a href="#" target="_parent">Read more...</a>        	</div>
    	</div>
    </div>                
    
    <div class="margin_bottom_20"></div>
</div> <!-- end of content panel -->
</div> <!-- end of content wrapper -->
       {%include 'footer.html'%}

  </body>
</html>

