<!DOCTYPE html>
<html>
<head>
	<title>		
	</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
           {%include 'navbaritems.html'%}
           <div class="row">
            <!-- size 4 on a large screen, 12 on a small, 6 on a med -->
              <div class="col l4 s12 m6">
              
           <label>SELECT SYMBOL</label>
           <br>
           <br>
           <select id="ddlViewBy" onchange="showData()">
               <option value="MSFT" >MICROSOFT</option>
               <option value="FB" >FACEBOOK</option>
               <option value="AMZN" >AMZON</option>
               <option value="^FCHI" >CAC 40</option>
               <option value="NFLX" >NETFLIX</option>
               <option value="oil" >OIL</option>
             </select>
              <p 'text-align:center' >Value-at-Risk 90%:</p>
              <p id="para"  >{{vatr}}</p>
           <div id="tester" style="width:1260px;height:400px;"></div>
           <div id="return" style="width:1260px;height:400px;"></div>
           <div id="hist" style="width:1260px;height:400px;"></div>
   
              </div>
           </div>
         <script>
   
   
   //var theSelect;
var usr  = "FB";
var vatr;
function VaR(returns, alpha) {
	// Compute the returns and remove the first element, always equals to NaN
	var returns = returns.slice(1);
	// Sort the returns from lowest to highest values
	returns.sort(function(a, b) { return a - b;});
	// Compute w
	// C.f. p. 383 of the reference
	var calpha = 1 - alpha;
	var w = Math.floor(calpha * returns.length)
	// Limit case (w equals to 0), return NaN
	if (w == 0) {
		return NaN;
	}
	// Otherwise, compute the value at risk as the w-th return
	// C.f. (2) and (6) of the reference
	var valAtRisk = -returns[w-1];
	// Return the value at risk
	return valAtRisk;
}


function returns(value){
let ret  = new Array()
 for(var i = 0 ;i < value.length; i++){
   let v = (value[i-1]-value[i])/value[i]
  ret.push(v)
 }
 return ret;
}

function ema(values,periode = 9){
  let multiplayer = 2/(periode + 1)
  periode--;
  let prev_ema = null;
  let ema = values.map((val,index,arr)=>{
  if(index<periode){
    val = null;
  }else{
    if(index==periode){
      let sub_arr = arr.slice(index-periode,index+1);
      val = avg(sub_arr);
    }else{
      val = (val-prev_ema)*multiplayer + prev_ema;
      
  
    }
    prev_ema = val
  }
  return val

  },0)
  return ema;
}
function avg(values){ 
let sum = values.reduce((accumulator, currentValue) => {return accumulator + parseFloat(currentValue);},0)
let avg = sum/values.length
return avg
}
   
   function showData() {
       var theSelect = ddlViewBy;
       usr = theSelect[theSelect.selectedIndex].value;
          // console.log(usr)
      
   
   var tmin;
   var tmax;
   var omin;
   var omax;
   const op  = new Array();
   const hi  = new Array();
   const lo  = new Array();
   const cl  = new Array();
   const vl  = new Array();
   var myArray = [[]];
   const mytime = new Array();
   var jsonUrl = `https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=${usr}&outputsize=compact&apikey=C5WDU2PJTHJ9KBHK`;
   const request = new XMLHttpRequest();
   request.open("GET", jsonUrl);
   request.send()
   request.addEventListener("load", async function() {
   const response =  await JSON.parse(request.responseText);
   for (var i = 0; i < 100; i++){ 
       const time = Object.keys(response['Time Series (Daily)'])[i]
       const open = parseFloat(response['Time Series (Daily)'][time]['1. open']);
       const high = parseFloat(response['Time Series (Daily)'][time]['2. high']);
       const low = parseFloat(response['Time Series (Daily)'][time]['3. low']);
       const close = parseFloat(response['Time Series (Daily)'][time]['4. close']);
       const volume = parseFloat(response['Time Series (Daily)'][time]['5. volume']);
      op.push(open)
      hi.push(high)
      lo.push(low)
      cl.push(close)
      vl.push(volume)
       //console.log(response['Meta Data']['2. Symbol'])
       mytime.push(time) ;
       window.mytime = mytime.sort();
       window.op = op.reverse();
       window.hi = hi.reverse();
       window.lo = lo.reverse();
       window.cl = cl.reverse();
       window.vl = vl.reverse();
       tmin = mytime[0];
       tmax = mytime[99];
       omin = Math.min(...op);
       omax = Math.max(...op);
   }
   var trace1 = {
     x: mytime, 
     close: cl, 
     
     decreasing: {line: {color: '#FF0000'}}, 
     
     high: hi, 
     
     increasing: {line: {color: '#17BECF'}}, 
     
     line: {color: 'rgba(31,119,180,1)'}, 
     
     low: lo, 
     
     open:op, 
     
     type: 'candlestick', 
     xaxis: 'x', 
     yaxis: 'y',
     name:'OHLC'
   };
   
   var trace2 = {
    x: mytime,
    y: ema(cl,9),
    mode: 'lines',
    type: 'scatter',
    name: 'EMA n:9'
};


  var data = [trace1,trace2];
   var layout = {
     dragmode: 'zoom', 
     margin: {
       r: 10, 
       t: 25, 
       b: 40, 
       l: 60
     }, 
     showlegend: true, 
     xaxis: {
       autorange: true, 
       //domain: [0, 1], 
       range: [tmin, tmax], 
       rangeslider: {range: [tmin, tmax]}, 
       title: 'Date', 
       type: 'date'
     }, 
     yaxis: {
       autorange: true, 
       //domain: [0, 1], 
       range: [omin, omin], 
       type: 'linear'
     }
   };
   Plotly.newPlot('tester', data, layout)
   var trace = {
    x: mytime,
    y: returns(cl),
    mode: 'lines',
    type: 'scatter',
    name: 'Returns'
};

var data1 = [trace];
Plotly.newPlot('return', data1,layout)
var t = {
  showlegend: true, 
    x: returns(cl),
    type: 'histogram',
    name: 'Returns Distribution',
    opacity: 0.4,
    marker: {
     color: '#CC66FF',
  },
  };
var data = [t];
Plotly.newPlot('hist', data);
vatr = VaR(returns(cl),0.9)
document.getElementById("para").innerHTML = vatr
}
   )}
   ;
   
   var tmin;
   var tmax;
   var omin;
   var omax;
   const op  = new Array();
   const hi  = new Array();
   const lo  = new Array();
   const cl  = new Array();
   const vl  = new Array();
   var myArray = [[]];
   const mytime = new Array();
   var jsonUrl = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&outputsize=compact&apikey=C5WDU2PJTHJ9KBHK';
   const request = new XMLHttpRequest();
   request.open("GET", jsonUrl);
   request.send()
   request.addEventListener("load", async function() {
   const response =  await JSON.parse(request.responseText);
   for (var i = 0; i < 100; i++){ 
       const time = Object.keys(response['Time Series (Daily)'])[i]
       const open = parseFloat(response['Time Series (Daily)'][time]['1. open']);
       const high = parseFloat(response['Time Series (Daily)'][time]['2. high']);
       const low = parseFloat(response['Time Series (Daily)'][time]['3. low']);
       const close = parseFloat(response['Time Series (Daily)'][time]['4. close']);
       const volume = parseFloat(response['Time Series (Daily)'][time]['5. volume']);
      op.push(open)
      hi.push(high)
      lo.push(low)
      cl.push(close)
      vl.push(volume)
       //console.log(response['Meta Data']['2. Symbol'])
       mytime.push(time) ;
       window.mytime = mytime.sort();
       window.op = op.reverse();
       window.hi = hi.reverse();
       window.lo = lo.reverse();
       window.cl = cl.reverse();
       window.vl = vl.reverse();
       tmin = mytime[0];
       tmax = mytime[99];
       omin = Math.min(...op);
       omax = Math.max(...op);
   // Exponential Moving Average
   }
   var trace1 = {
     x: mytime, 
     close: cl, 
     
     decreasing: {line: {color: '#FF0000'}}, 
     
     high: hi, 
     
     increasing: {line: {color: '#17BECF'}}, 
     
     line: {color: 'rgba(31,119,180,1)'}, 
     
     low: lo, 
     
     open:op, 
     
     type: 'candlestick', 
     xaxis: 'x', 
     yaxis: 'y',
     name:'OHLC'
   };
   
   var trace2 = {
    x: mytime,
    y: ema(cl,9),
    mode: 'lines',
    type: 'scatter',
    name: 'EMA n:9'
};


var data = [trace1,trace2];   
   var layout = {
     dragmode: 'zoom', 
     margin: {
       r: 10, 
       t: 25, 
       b: 40, 
       l: 60
     }, 
     showlegend: true, 
     xaxis: {
       autorange: true, 
       //domain: [0, 1], 
       range: [tmin, tmax], 
       rangeslider: {range: [tmin, tmax]}, 
       title: 'Date', 
       type: 'date'
     }, 
     yaxis: {
       autorange: true, 
       //domain: [0, 1], 
       range: [omin, omin], 
       type: 'linear'
     }
   };
   Plotly.newPlot('tester', data, layout)
   var trace = {
    x: mytime,
    y: returns(cl),
    mode: 'lines',
    type: 'scatter',
    name: 'Returns'
};

var data1 = [trace];
Plotly.newPlot('return', data1,layout)
var t = {
  showlegend: true, 
    x: returns(cl),
    type: 'histogram',
    name: 'Returns Distribution',
    opacity: 0.4,
    marker: {
     color: '#CC66FF',
  },
  };
var data = [t];
Plotly.newPlot('hist', data);
vatr = VaR(returns(cl),0.9)
document.getElementById("para").innerHTML = vatr
   })
   
   
       </script>

           {%include 'footer.html'%}
<style>
p {
text-align:center
}
            </style>
</body>
</html>