<!DOCTYPE html 
             PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DSL</title>
<meta name="keywords" content="css templates, fortune website, CSS, HTML" />
<meta name="description" content="Fortune Template is a free css template from templatemo.com" />
{%load static %}
<link href="{% static 'css/templatemo_style.css'%}" rel="stylesheet" type="text/css" />

<div id="templatemo_header_wrapper">
    <div id="templatemo_header_panel">
        <div id="templatemo_header">
          DSL
        </div>
        <div id="templatemo_tagline">
         DATA SCIENCES LABORATORY 
        </div>
    </div>
</div>

<div id="templatemo_banner_wrapper">
    <div id="templatemo_banner_panel">
    </div>
</div>

<div id="templatemo_menu_wrapper">
    <div id="templatemo_menu_panel">
        <ul>
            <li><a href="/" class="current">HOME</a></li>
            <li><a href="/nlp" target="_parent">NLP</a></li>
            <li><a href="http://www.koflash.com" target="_parent">IMAGES</a></li>
            <li><a href="#">MEDICINE</a></li>  
            <li><a href="#">GRAPHICS</a></li> 
            <li><a href="#" class="last">RESUME</a></li>                     
        </ul> 
    </div>
</div> 